*{
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: 'Roboto';
}

header{
    padding-top: 48px;
}
header .container{
    /* overflow: hidden; */
    position: relative;
}
header .logo p{

    font-size: 15px;
    line-height: 18px;

    color: #8295A0;

    margin-top: 15px;
    margin-left: auto;
}
header .call_contact_center .phone{

    text-decoration: none;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    /* Текст */
    color: #232323;
}
header .call_contact_center p{

    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */
    display: flex;
    align-items: center;

    /* Серый_легкий */
    color: #C4C4C4;
}
header .call_contact_center .call_center_img {
    width: 63px;
    height: 89px;
    margin-left: 13px;
}
header .call_contact_center .call_center_img img{
    height: 80%;
}
header hr{
    background: #E0F5F3;
    height: 2px;
    border: 0;
}
header .menu_burger{
    display: block;
    position: relative;
    width: 44px;
    height: 40px;
    z-index: 10;
}
header .menu_burger span{
    position: absolute;
    top: 44%;
    left: 0;
    height: 5px;
    width: 100%;
    
    background: #006565;
}
header .menu_burger::before,
header .menu_burger::after{
    content: '';
    background: #006565;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
}
header .menu_burger::after{
    bottom: 0;
    transition-duration: .3s;
    transform: rotate(0deg);
}
header .menu_burger::before{
    top: 0;
    transition-duration: .3s;
    transform: rotate(0deg);
}
header .menu_burger.menuOpen span{
    display: none;
}
header .menu_burger.menuOpen::after{
    transition-duration: .3s;
    bottom: 43%;
    transform: rotate(-45deg);
}
header .menu_burger.menuOpen::before{
    top: 42%;
    transition-duration: .3s;
    transform: rotate(45deg);
}
header .icon_phone{
    margin-left: auto;
    margin-right: 18px;
    max-width: 42px;
    max-height: 42px;
    border-radius: 30px;
    padding: 12px;
    background: #006565;
}

header .links{
    margin: 0px auto;
    margin-top: 25px;
    justify-content: space-between;
    width: fit-content;
}
header .links li{
    display: block;
    cursor: pointer;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #C4C4C4;
}
header .links li.active,header .links li:hover{
    border-bottom: 3px solid #006565;
}
header .links li:last-child{
    padding-right: 0;
    padding-left: 20px;
}
header .links a{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #232323;
}
header .menu_burger_links{
    position: absolute;
    width: 60%;
    display: flex;
    top: -300px;
    right: 0;
    margin: 0;
    padding: 62px 36px;
    background: white;
    padding-bottom: 42px;
    z-index: 5;
}
header .menu_burger_links li{
    display: block;
    cursor: pointer;
    margin-top: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid #C4C4C4;
}
header .menu_burger_links li:first-child{
    margin-top: 0px;
}
header .menu_burger_links li:last-child{
    border-bottom: 0;
}
header .menu_burger_links li:hover{
    padding-left: 15px;
    color: #006565;
}
header .menu_burger_links li a{

    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #232323;
}

@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {
    header .logo{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    header .logo p{
        font-size: 9px;
        margin-top: 8px;
    }
}
@media screen and (max-width:510px) {
    header .logo p{
        font-size: 8px;
    }
}
@media screen and (max-width:480px) {
    header .logo{
        max-width: 50%;
    }
    header .icon_phone{
        width: 44px;
        max-width: 40px;
        max-height: 42px;
        padding: 12px;
    }
    /* header .menu_burger{
        width: 30px;
        height: 20px;
    }
    header .menu_burger span{
        top: 9px;
        height: 3px;
    }
    header .menu_burger::before,
    header .menu_burger::after{
        height: 3px;
    } */
}

section.main_slider{
    margin-top: 30px;
    overflow: hidden;
}
section.main_slider .slider_item{
    min-width: 100%;
    padding-bottom: 110px;
    position: relative;
}
section.main_slider .background-image{
    z-index: -6;
    position: absolute;
    background-image: url(/img/background_slider.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    filter: brightness(0.8);
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
}
section.main_slider .background-gradient{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -2;
    background: linear-gradient(180.09deg, rgba(0, 101, 101, 0) -26.19%, rgba(12, 49, 49, 0.08) 58.54%, rgba(2, 56, 56, 0.36) 76.05%, #0C3131 99.92%);
    opacity: 0.7;
}

section.main_slider .slider_item .container{
    z-index: 2;
    padding: 0;
    padding-top: 140px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-family: 'Roboto';
    border-bottom: 2px solid #ffffff60;
}
section.main_slider h2{

    max-width: 512px;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;

    text-transform: uppercase;
}
section.main_slider strong{

    display: block;
    max-width: 382px;
    margin-top: 32px;

    font-size: 24px;
    line-height: 135%;

    text-transform: uppercase;
}
section.main_slider p{

    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;

    letter-spacing: 0.03em;
}
section.main_slider a.btn{
    
    font-weight: 700;
    margin-top: 88px;
    padding: 22px 56px;
    border-radius: 0px;
    font-size: 18px;
    background: #006565;

    box-shadow: 26.0526px 39.0789px 104.211px rgba(145, 145, 145, 0.15);
}


section.main_slider .nav_slider{
    margin-top: -100px;
    position: relative;
    z-index: 12;
}
section.main_slider .nav_slider .container{
    padding: 0;
}
section.main_slider .arrow{
    outline: none;
    border: 0;
    height: 20px;
    width: 27px;
    z-index: 10;
    color: transparent !important;
    transition: .3s;
} 
section.main_slider .arrow_left{
    margin-right: 35px;
}
section.main_slider .arrow:hover img{
    transition: .3s;
    filter: invert(.8);
}
section.main_slider .arrow_right img{
    transform: rotate(180deg);
}
section.main_slider .dots li{
    cursor: pointer;
    display: block;
    outline: none;
    margin-right: 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    padding: 7px 13px;
    opacity: .3;
}
section.main_slider .dots li.active{
    opacity: 1;
}

@media screen and (max-width:768px) {
    section.main_slider .background-image{
        background-position-x: -950px;
    }
    section.main_slider h2{
        max-width: 75%;
        font-size: 36px;
    }
    section.main_slider strong{
        font-size: 18px;
        max-width: 60%;
    }
    section.main_slider p{
        font-size: 14px;
        text-align: center;
        width: 50%;
    }
    section.main_slider  a.btn{
        font-size: 16px;
        display: block;
        width: 45%;
        margin: 0px auto;
        margin-top: 190px;
    }
    /*change dots*/
}
@media screen and (max-width:576px) {
    section.main_slider .background-image{
        background-position-x: -1100px;
    }
    section.main_slider .container{
        width: 90%;
    }
    section.main_slider a.btn{
        padding: 13.5px 28.5px;
        width: 40%;
    }
    section.main_slider h2{
        font-size: 24px;
        /* max-width: 256px; */
        max-width: 55%;
    }
    section.main_slider strong{
        font-size: 14px;
        /* max-width: 208px; */
        max-width: 45%;
    }
    section.main_slider p{
        font-size: 12px;
        width: 40%;
    }
}
@media screen and (max-width:480px) {
    section.main_slider .background-image{
        background-position-x: -1100px;
    }
    section.main_slider .container{
        width: 90%;
    }
    section.main_slider a.btn{
        font-size: 14px;
    }
    section.main_slider h2{
        max-width: 100%;
    }
    section.main_slider strong{
        max-width: 70%;
    }
    section.main_slider p{
        width: 65%;
    }
}

section.about {
    margin-top: 77px;
    font-family: 'Roboto';
}
section.about h2{

    font-weight: 400;
    font-size: 34px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #232323;
}
section.about ul{
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 90px auto;
}
section.about ul li{
    background: #F8F8F8;
    display: block;
    position: relative;
    padding-left: 26px;
    padding-right: 14px;
    padding-bottom: 94px;
    padding-top: 110px;
    max-width: 29%;
    transform: scale(1.0);
}
section.about ul li p{
    max-width: 290px;
}
section.about ul li .likes{
    opacity: 0;
    bottom: 50px;
    right: 15px;
    position: relative;
}
section.about ul li::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    transition: .3s;
}
section.about ul li:hover{
    transform: scale(1.1);
    max-width: 33%;
    transition: .3s;
}
section.about ul li:hover .likes{
    opacity: 1;
}
section.about ul li:hover p{
    max-width: 364px;
}

section.about ul li:hover::before{
    background: #00A797;
    opacity: 0.3;
    transition: .3s;
}
section.about ul li .img > img{
    margin-bottom: 22px;
    max-width: 52px;
    max-height: 33px;
}

section.about ul li:hover .img > img{
    position: relative;
    max-width: 78px;
    max-height: 49px;
}

section.about ul li .likes img:first-child{
    position: absolute;
    top: 0;
    top: -100px;
    right: 0;
    transform: scale(0.35);
}
section.about ul li .likes img:nth-child(2){
    position: absolute;
    top: 0;
    top: -75px;
    right: -25px;
    transform: scale(0.5);
}
section.about ul li .likes img:last-child{
    position: absolute;
    top: 0;
    top: -40px;
    right: 10px;
}